.inicio_titulo {
    text-align: center;
    margin: 10px auto;
    font-size: 2.3rem;
    text-transform: uppercase;
}

.inicio__profesor,
.inicio__estudiantes {
    width: 40%;
    margin: 50px auto;

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

}

.page__container {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    h1 {
        text-align: center;
        margin: 30px auto;
        text-transform: uppercase;
    }

    h1,
    h2,
    h3 {
        margin: 20px 10px;
    }

    h1,
    h2,
    h3,
    h4,
    ul,
    li,
    p {
        width: 80%;
        text-align: start;
    }

    td {
        border: 1px solid black;
        gap: 10px;
        margin: 0px;
        padding: 5px;
    }

}

.organigrama__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.organigrama__img {
    width: 95%;
    margin: auto;
}