header {
    text-align: center;
    color: black;
    border: 3px solid black;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .logo__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    h1 {
        font-weight: 500;
        font-size: 4rem;
        letter-spacing: -4px;
        margin: 0;
    }

    span {
        font-weight: 700;
        color: gray;
    }

    p {
        font-size: 1.3rem;
        margin: 15px;
    }

    .nav {
        display: inline;
    }

}
.subnav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}