header {
    width: 100%;
    height: 100px;
    text-align: center;
    padding-bottom: 10px;
    background-color: white;
    position: fixed;

    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr 5fr;

    .logo__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }

    .logo__title {
        font-weight: 500;
        font-size: 3rem;
        letter-spacing: -4px;
        margin: 0;
        color: var(--eerie-black);

        span {
            font-weight: 700;
            color: var(--gray);
        }
    }

    p {
        font-size: 1rem;
    }

    .nav {
        display: inline;
    }

}