.navmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.link__menu {
    background-color: var(--white);
    color: var(--eerie-black);
    margin: 5px 20px;
    padding: 0.2em 0.6em;
    font-weight: 500;
    font-size: 0.8em;
    text-decoration: none;

    border: 3px solid transparent;
    border-radius: 5px;
    transition: border-color 0.25s;
    cursor: pointer;

}

.link__menu:hover {
    background-color: var(--teal);
    color: var(--white);
}
