.slide__container {
    width: 75%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    background-color: white;

}

.slide__img {
    width: 100%;
    border-radius: 20px;
}