.slide__container {
    width: 80%;
    height: 70vh;
    margin: 20px auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    background-color: white;
    
}