.slide__container {
    width: 75%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    background-color: white;

    video {
        width: 100%;
    }
}

.slide__img {
    width: 100%;
    border-radius: 20px;
}

h1,
h2,
h3 {
    margin: 20px 10px;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
    width: 80%;
}

.slide__container video {
    z-index: 0;
    width: 100%;
    display: block;
}