:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* CSS HEX */
    --eerie-black: #202020ff;
    --gray: #808080ff;
    --white: #ffffffff;
    --teal: #137e7fff;
    --pumpkin: #FF8438;
}

* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #137e7f;
}

main {
    background-color: #137e7f;
    width: 100%;
    min-height: 100%;
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}