:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* CSS HEX */
    --eerie-black: #202020ff;
    --gray: #808080ff;
    --white: #ffffffff;
    --teal: #137e7fff;
    --pumpkin: #FF8438;
    
}


* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
}

main {
    margin: auto;
    background-color: #137e7f;
    color: white;
    min-height: 80vh;
    padding: 10px 50px 10px 50px;
}

a {
    text-decoration: none;
    color: inherit;
}