:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    width: 100%;
    min-height: 100vh;
}

main {
    margin: auto;
    background-color: #137e7f;
    color: white;
    min-height: 100vh;
    padding: 20px 50px;
}

a {
    text-decoration: none;
}